.view{
    background-color: lightcyan;
    list-style: none !important;
    padding: 15px;
    border-radius: 5px;
    font-size: large;
    /*margin-bottom: 5px;*/
    margin-top: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li input {
    margin-right: 5px;
}

ul li button {
    margin-left: 5px;
    border: none;
    background-color: red;
    height: 13px;
    border-radius: 3px;
}